body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.output-div {
    margin-top: 20px;
}

.empty-appointment-card,
.accepted-appointment-card,
.pending-appointment-card,
.rejected-appointment-card,
.canceled-appointment-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #fff;
}

.field-label {
    font-weight: bold;
}

.field-value {
    margin-bottom: 10px;
}


.accept-button{
    background-color: dodgerblue;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.accept-button:hover{
    background-color: blue;
}

.reject-button{
    background-color: orange;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.reject-button:hover{
    background-color: darkorange;
}

.delete-button,
.cancel-button{
    background-color: #d9534f;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.delete-button:hover,
.cancel-button:hover {
    background-color: #c9302c;
}
